<h1> Adding new book</h1>

<h2>Create Book History</h2>
  <form action="/books/new" method="post">

  <input  type='text' name='title' placeholder='title'><br><br>
  <input  type='text' name='author' placeholder='author'><br><br>
  <input  type='text' name='ISBN' placeholder='ISBN'><br><br>
  <input  type='text' name='memo' placeholder='memo'><br><br>

  <button name='button' type='submit'>Submit</button>
</form>
