<h1>The user new view is rendering!<h1>
  <h2>Create new user(Create book History)</h2>
<form action="/users/new" method="post">

    <label>Name:</label>
    <input type="text" name="name">
    <input type="submit">
</form>


<li>
  <ul>
    {{book.title}}
    {{book.author}}
    {{book.ISBN}}
    {{book.memo}}
  </ul>
  <li>
