<form id='signup' method='POST' action='/users/signup'><br>
    <input class='log-in' type='text' name='username' placeholder='username'><br>
    <input class='log-in' name='password' type='password' placeholder='password'><br><br>
    <button class='logs' name='button' type='submit'>Sign Up</button>
  </form>
