<h3>{{user.username}}</h3>
<h4>Favorite Book: {{user.faveBook}}</h4>
<br><br>
Click here to sign out:
<br><br>
<form action='/signout?_method=DELETE' method="POST">
<button type='submit' name='logout'>Sign Out</button>
</form>
